.layout {
  width: 100%;
  min-height: 100vh;
  background: url("../../assets/illustrations/kora-back.png");
  background-size: 500px;
  background-repeat: repeat;
  color: var(--kora-chalk);
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
